html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Cicle';
    src: url('/font/Cicle.ttf');
}
@font-face{
    font-family: 'Raleway';
    src: url('/font/Raleway.ttf');
}
@font-face{
    font-family: 'Satellite';
    src: url('/font/Satellite.otf');
}
@font-face{
    font-family: 'Opensans';
    src: url('/font/Opensans.ttf')
}
@font-face {
    font-family: 'Quicksand';
    src: url('/font/Quicksand.otf')
}


p {
    font-family: Quicksand, 'Trebuchet MS', sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

h1 {
    font-size: 5em;
    color: #fff;
    font-family: Raleway, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

h2 {
    font-size: 50px;
    font-family: Raleway,'Trebuchet MS', sans-serif;
    color: #5ce1b8;
    text-align: center;
}

.jumbotron {
  background: url(/image/home1024.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  height: 600px;
  box-sizing: border-box;
}

#hcontainer {
    border: none;
    position: absolute;
    display: block;
    width: fit-content ;
    text-align: left;
    padding: 0px 0px 0px 10%;
    margin: 100px 0px 0px 0px;
}


.content {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.ocontainer {
    display: block;
    float: left;
    width: 100%;
    height: 400px;
    background-color: #fff;
}

.ccontainer {
    display: block;
    float: left;
    width: 100%;
    height: 400px;
    background-color: #f3eee7;
}

.wcontainer {
    display: block;
    float: left;
    width: 100%;
    height: 400px;
    background-color: #fff;
}

.gcontainer {
    display: block;
    float: left;
    width: 100%;
    height: 400px;
    background-color: #808080;
}

.navbox {
    margin: 0px 0px 0px 12vw;
    border: none;
    width: 40vw;
    height: 600px;
}

.navtile {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    
}

.navtile li {
    display: inline;
    float: left;

}

.navtile li a{
    display: block;
    margin: 0px 0px 0px 10px;
    width: 30vw;
    height: 60px;
    text-decoration: none;
    text-transform: uppercase; 
    font-weight: 100;
    color: black; 
    background-color: white;
    text-align: center;
    
}


.navtext {
    padding: 20px 0px 0px 0px;
}


/*Comment*/
    