body {
    background-image: url(/image/SeattleSkyline.jpg);
    background-size: 100%;
    background-color: #6097bf;
    
}

iframe {
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}




/*Comment*/
    